<<!DOCTYPE html>

	<head>
		<title>Home Project - Account</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
  
  		<meta name="Description" content="A simple home project">
  		<meta name="Author" content="Rahul Raghunath">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<h1 align = "center"> Welcome to your account, {{name}}! </h1>

		<!-- Centering the Boot Strap Butoon -->
		<div class="row">
  			<div class="col-sm-12">
    				<div class="text-center"> 


					<br><br>

					<form action="{{url_for('account')}}" class="form-inline" method=post>
					  <div class="form-group">
					    <label for="email">Your Text Data:</label>
					    <input class="form-control" id="data" placeholder="{{data}}" name="data">
					    <button type="submit" class="btn btn-info">UPDATE</button>
					  </div>
					 </form>

					 <p class="text-success"> lase updated at {{time}} </p>
					<a href="{{url_for('gdisconnect')}}" class="btn btn-danger">Logout</a>
				</div>
			</div>
		</div>

	</body>
</html>


