<<!DOCTYPE html>

	<head>
		<title>Home Project - Account</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
  
  		<meta name="Description" content="A simple home project">
  		<meta name="Author" content="Rahul Raghunath">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<h1 align = "center"> Welcome to your account, {{name}}! </h1>

		<!-- Centering the Boot Strap Butoon -->
		<div class="row">
  			<div class="col-sm-12">
    				<div class="text-center"> 


					<br>

					<form action="{{url_for('account')}}" class="form-inline" method=post id="useform">
					  <div class="form-group">
					    <label for="email">Edit Data:</label>
					    <br>
					    <!--input class="form-control" id="data" value="{{data}}" name="data"-->
					    <textarea id="data" name="data" cols="80" rows="7">{{data}}</textarea>
					    <br>
					    <button type="submit" class="btn btn-info">UPDATE</button>
					  </div>
					 </form>

					<h3 align="center"> Your Account Information</h3>
					<h4> {{data}} </h4>

					{% with messages = get_flashed_messages() %}
			   			{% if messages %}
			      				{% for message in messages %}
			         				<h5 align="center">{{ message }}</h5>
			      				{% endfor %}
			   			{% endif %}
					{% endwith %}
					 <p class="text-success"> last updated at: {{time}} </p>
					<a href="{{url_for('gdisconnect')}}" class="btn btn-danger">Logout</a>
				</div>
			</div>
		</div>

	</body>
</html>


