<<!DOCTYPE html>

	<head>
		<title>Home Project - Home</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
  
  		<meta name="Description" content="A simple home project">
  		<meta name="Author" content="Rahul Raghunath">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<h1 align = "center"> This is Home! </h1>

		<!-- Centering the Boot Strap Butoon -->
		<div class="row">
  			<div class="col-sm-12">
    				<div class="text-center"> 
					<a class="btn btn-info" role="button" href="{{url_for('my_account')}}" align = "center">Login</a>
				</div>
			</div>
		</div>

	</body>
</html>


